.info{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
    .bar{
        display: flex;
        width: 100%;
        height: 60px;
        gap: 20px;
        align-items: center;
        background-color: white;


        img{
            height: 80px;
            width: 80px;
            margin-left: 40px;
        }

        p{
            margin-top: 15px;
            font-size: 20px;
            color: rgb(129, 132, 132);
            cursor: pointer;
            &:hover{
                color: rgba(98, 70, 238, 0.645);
            }
        }

        button{
            background-color: rgba(189, 189, 199, 0.868);
            height: 40px;
            width: 100px;
            margin-left: auto;
            margin-right: 100px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: rgba(98, 70, 238, 0.645);
            }
        }
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 200px;
            }
            p{
                color: rgb(117, 113, 113);
                font-weight: 300;
                font-size: 18px;
            }
            .rectangle {
                height: 350px;
                width: 35vw;
            }
            .line {
                height: 200px;
                width: 35vw;
            }
        }

        .search{
            display: flex;
            align-items: center;
            border-radius: 5%;
            input{
                height: 50px;
                width: 35vw;
                padding: 20px;
                border: none;
                outline: none;
                font-size: 18px;
                &::placeholder{
                    color: rgb(152, 150, 150);
                }
            }
            .text-doan {
                resize: none; /* Disable manual resizing */
                width: 35vw; /* Set width to 35% of viewport width */
                min-height: 18vh; /* Minimum height */
                padding: 10px; /* Inner padding for better readability */
                font-size: 16px; /* Font size */
                margin-bottom: 20px; /* Space below the textarea */
                box-sizing: border-box; /* Include padding and border in width/height */
                border: 3px solid transparent; /* Add a light border */
                border-radius: 4px; /* Rounded corners */
                transition: all 0.2s ease; /* Smooth transition for focus effects */
            }
            
            .text-doan:focus {
                outline: none; /* Remove the default outline */
                border: 3px solid rgba(29, 138, 255, 0.527); /* Add a blue glow shadow */
                background-color: #f8f9fa; /* Optional: Light background for focus */
            }
            
        }
        .button-group{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .button-type{
                background-color: rgba(189, 189, 199, 0.868);
                height: wrap;
                width: 220px;
                border-radius: 5%;
                border: none;
                outline: none;
                cursor: pointer;
                &:hover{
                    background-color: rgba(98, 70, 238, 0.645);
                }
            }
            .button-type.active {
                background-color: rgba(98, 70, 238, 0.877);
                color: white;

            }
        }
    }

    .result{
        margin-bottom: 50px;
        border-radius: 20px;
        background-color: white;
        height: max-content;
        width: 38%;
        padding: 40px;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .teamInfo{
        width: 400px;
        height: 200px;
        padding: 20px;
        position: absolute;
        background-color: rgb(132, 132, 240);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: large;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
    }
}
.center-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
  }


button.submit {
    background-color: rgba(189, 189, 199, 0.868);
    height: 50px;
    width: 90px;
    border-radius: 5%;
    border: none;
    outline: none;
    cursor: pointer;
}

button img {
    height: 40px;
    object-fit: cover;
}

button.submit:hover {
    background-color: rgba(77, 48, 224, 0.645);
}

button.restart {
    height: 50px;
    width: 90px;
    border-radius: 5%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(245, 146, 146, 0.868);
}
button.restart:hover {
    background-color: rgba(247, 98, 98, 0.868);
}
